.DS_Store

# Neovim local state
nvim/.neoconf.json

# Python/cache files
__pycache__/
*.pyc

# editor temporary files
*.swp
*.swo
*~

# Yazi managed packages
yazi/flavors/rose-pine-moon.yazi/

# Rime Generated
rime/generated/
